// Fonts
@font-face {
  font-family: 'Dala Floda Web';
  src: url('../assets/commercial-type-2212-RYLXTT-web/DalaFloda-Bold-Web.woff2') format('woff2'),
       url('../assets/commercial-type-2212-RYLXTT-web/DalaFloda-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Gotham_KTR';
  // src:  url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Black.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-BlackItalic.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Bold.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-BoldItalic.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Book.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-BookItalic.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Light.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-LightItalic.otf') format('opentype'),
  src:  url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Medium.otf') format('opentype'),
        url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-MediumItalic.otf') format('opentype');
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Thin.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-ThinItalic.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Ultra.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-UltraItalic.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-XLight.otf') format('opentype'),
        // url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-XLightItalic.otf') format('opentype');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}
// @font-face {
//   font-family: 'Gotham_KTR';
//   src:  url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Black.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-BlackItalic.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Bold.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-BoldItalic.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Book.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-BookItalic.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Light.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-LightItalic.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Medium.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-MediumItalic.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Thin.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-ThinItalic.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-Ultra.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-UltraItalic.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-XLight.otf') format('opentype'),
//         url('../assets/HCo_Gotham_Bundle/OpenType/Gotham-XLightItalic.otf') format('opentype');
//   font-weight:  400;
//   font-style:   normal;
//   font-stretch: normal;
// }


// General
@import "./variables.scss";
@import "./layout.scss";
@import "./animations.scss";