// Media queries
$mediaXS: "max-width: 480px";
$mediaS: "max-width: 768px";
$mediaM: "max-width: 992px";
$mediaL: "max-width: 1279px";

// Fonts
$fontFamily: 'Gotham_KTR--light';
$fontWeight: 400;

// Grayscale colors
$dark: #202020;
$darkEr: #313136;
$darkIsh: #67686b;
$lightIsh: #9EA0A5;
$lightEr: #CECFD2;
$light: #F1EDFF;

// Main colors
$bg: #101414;
$bg0: rgba(16, 20, 20, 0);
$footer: #1B2626;
